*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

section{
    /* padding: 20px 0 20px 5px; */
    margin: 20px 5px 20px 5px;
    background-color: bisque;
}

section h1:nth-of-type(1){
    margin-bottom: 10px;
    background-color: lightskyblue;
}

article h1:nth-of-type(1){
    margin-bottom: 10px;
}

article p{
    margin-bottom: 10px;
}

article{
    margin: 0 5px;
    background-image: url("../img/xinyi-w-qjCHPZbeXCQ-unsplash.jpg");
    background-size: 80%;
}